@charset "utf-8";

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #000;
  color: #fff;
  margin: 0;
}

.quadrado-branco {
  background-color: white;
  padding: 20px;
}

body {
  font-family: 'Oswald';
}

.conteiner {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 20vh 70vh 10vh;
  grid-template-areas: "h h" "m a" "f f";
}

h1, h2 {
  margin-top: 3%;
  font-size: 2.5em;
  padding: 80px;
}
h3{
  margin-top: 5%;
  font-size: 1.9em;
}
p {
  font-size: 1.9em;
}

#fontepreta {
  background-color: black;
}

#scrollabtn a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  margin-top: -40px;
  text-decoration: none;
  color: black;
  background-color: white;
  text-transform: uppercase;
}

.buttom {
  width: 9em;
  height: 3em;
  border-radius: 30em;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.buttom::before {
  content: '';
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #a75624 0%, #a75624 100%);
  transition: width 0.5s ease;
  display: block;
  z-index: -1;
}

.buttom:hover::before {
  width: 9em;
}

.buttom:hover {
  box-shadow: 6px 6px 12px #a75624, -6px -6px 12px #a75624;
}

img {
  height: 200px;
}

.recuo div {
  text-indent: 4em;
}

nav {
  background-color: #1d1d1d;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logo a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
  transition: background-color 0.3s, transform 0.3s;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  margin-right: 20px;
}

.menu a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s;
}

.menu a:hover {
  background-color: #555;
}

.menu a.active {
  background-color: #555;
}

@media (max-width: 960px) and (min-width: 500px) {
  .logo {
    display: none;
  }

  footer {
    display: block;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #000;
    text-align: center;
    z-index: 999;
  }

  .menu li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .menu-toggle .bar {
    width: 100%;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
    transition: background-color 0.3s, transform 0.3s;
  }

  .menu-open .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }

  .menu-open .bar:nth-child(2) {
    opacity: 0;
  }

  .menu-open .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }

  .menu-open ~ .menu {
    display: flex;
  }

  p {
    font-size: 20px;
    text-align: center;
  }

  img {
    width: 150px;
  }

  a {
    font-size: medium;
  }

}

@media screen and (min-width: 768px) {
  html {
    font-size: calc(14px + 6 * ((100vw - 768px) / 680));
  }
}

@media (max-width: 500px) and (min-width: 350px) {
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #000;
    text-align: center;
    z-index: 999;
  }

  .menu li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .menu-toggle .bar {
    width: 100%;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
    transition: background-color 0.
    3s, transform 0.3s;
  }

  .menu-open .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }

  .menu-open .bar:nth-child(2) {
    opacity: 0;
  }

  .menu-open .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }

  .menu-open ~ .menu {
    display: flex;
  }

  p {
    font-size: 18px;
    text-align: center;
    color: #ffffff;
  }
}

div {
  font-size: 20px;
  text-align: center;
}

.texto {
  color: #000;
}

.text-info {
  color: #fff;
}

li {
  color: #fff;
}

.integrantes {
  color: white;
}

.integrantes > li,
.pages {
  list-style: none;
}

.pages a {
  text-decoration: none;
  color: white;
}

footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 15px;
}

.integrantes h2 {
  margin: 0 0 2px 0;
  padding: 0;
  font-size: 1.2em;
}

.pages h2 {
  margin: 0 0 2px 0;
  padding: 0;
  font-size: 1.2em;
  color: white;
}

#fundo {
  background-color: rgb(30, 29, 31);
  width: 100%;
  max-width: 1800px;
  padding: 10px;
  margin: 70px auto;
  border-radius: 30px;
}

@media screen and (max-width: 1200px) {
  #fundo {
    margin-left: 10px;
  }
}

@media screen and (max-width: 768px) {
  #fundo {
    margin: 70px 0;
    border-radius: 0;
  }
}
#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #0000001e;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transform: translate(-50%, -50%);
  left: 50%;
  @media (max-width: 768px) {
    #scrollUpButton {
      bottom: 10px;
      right: 10px;
      padding: 8px;
    }
  }
}
